.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    .left {

    }

    .right {
        display: flex;
        align-items: center;
        gap: 40px;

        .icon {
            font-size: 2.4rem;
            color: gray;
            cursor: pointer;
        }

        .notification {
            position: relative;
            cursor: pointer;

            .popNumber {
                position: absolute;
                background-color: var(--primary);
                width: 20px;
                height: 20px;
                text-align: center;
                color: white;
                font-size: 1rem;
                line-height: 20px;
                border-radius: 50%;
                top: -10px;
                right: -10px;
                
            }
        }

        .user {
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;

            .left {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                
                h3 {
                    font-size: 1.2rem;
                    color: #333;
                }

                span {
                    font-size: 1rem;
                    color: gray;
                }
            }

            .right {
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}